### Robot Framework ###
.DS_Store
output.xml
.Android/screenshots
*.html
**/reports
**/report
query/
libspecs/
.pabotsuitenames
tmp
*.appiumconfig
__pycache__/
*.py[cod]
*$py.class
venv*
.venv*
.env
*~
venv/
red.xml
*.log
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
.idea/
/tmp/
*.project
*.apk
/temp/
run.sh
